.button {
  font-family: var(--default-font-family);
  display: inline-block;
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  cursor: pointer;
  border: none;
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-text);
}
.primary:hover {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text);
}
.secondary:hover {
  background-color: var(--secondary-hover);
}

.sm {
  font-size: var(--button-font-sm);
  line-height: var(--button-font-sm);
}
.md {
  font-size: var(--button-font-md);
  line-height: var(--button-font-md);
}
.lg {
  font-size: var(--button-font-lg);
  line-height: var(--button-font-lg);
}
