.button {
  display: inline-block;
  padding: var(--button-padding);
  border-radius: var(--radius-md);
  cursor: pointer;
  border: none;
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-text);
}
.primary:hover {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text);
}
.secondary:hover {
  background-color: var(--secondary-hover);
}
